USE [master]
GO
/*
1. THAY ĐỔI KIỂU CÁC BẢNG CÓ NGÀY TẠO, NGÀY CẬP NHẬT TỪ date sang datetime (YYYY-MM-DD HH:mm:ss), ko ảnh hưởng dữ liệu nhập
2. THAY ĐỔI TOÀN BỘ KIỂU nchar sang nvarchar vì có thể ko cần fill space cho đủ kích thước, tiện lợi cho việc nhập dữ liệu, cũng như viết procedure thêm, sửa.
3. ĐÁNH COMMNENT CHỖ RÀNG BUỘC TỰ THAM CHIẾU VÌ CHO DỄ SỬA VÀ DỄ HIỂU, KO LÀM SAI VÀ KO LÀM LỖI.
*/
IF DB_ID(N'CineB') IS NULL CREATE DATABASE [CineB];
/* SET UP NÀY KO CHẠY ĐC TRÊN WINDOW
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CineB', FILENAME = N'/var/opt/mssql/data/CineB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CineB_log', FILENAME = N'/var/opt/mssql/data/CineB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
 */
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CineB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
--ALTER DATABASE [CineB] SET  DISABLE_BROKER 
GO
--ALTER DATABASE [CineB] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
--ALTER DATABASE [CineB] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
--ALTER DATABASE [CineB] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO

USE [CineB]
GO
/* Chạy lại file: drop bảng dbo → tạo bảng + INSERT mẫu lại. Procedure (vd. 2_1.sql) giữ nguyên. */
SET NOCOUNT ON;
DECLARE @s NVARCHAR(MAX);
SELECT @s = STRING_AGG(N'ALTER TABLE ' + QUOTENAME(SCHEMA_NAME(t.schema_id)) + N'.' + QUOTENAME(t.name) + N' DROP CONSTRAINT ' + QUOTENAME(fk.name) + N';', CHAR(10)) WITHIN GROUP (ORDER BY fk.name)
FROM sys.foreign_keys AS fk INNER JOIN sys.tables AS t ON fk.parent_object_id = t.object_id;
IF @s IS NOT NULL AND LEN(@s) > 0 EXEC sys.sp_executesql @s;
SELECT @s = STRING_AGG(N'DROP TABLE ' + QUOTENAME(TABLE_SCHEMA) + N'.' + QUOTENAME(TABLE_NAME) + N';', CHAR(10)) WITHIN GROUP (ORDER BY TABLE_NAME)
FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = N'dbo' AND TABLE_TYPE = N'BASE TABLE';
IF @s IS NOT NULL AND LEN(@s) > 0 EXEC sys.sp_executesql @s;
GO

/****** Object:  Table [dbo].[ADMIN]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[MÃ SỐ NHÂN VIÊN] [nvarchar](7) NOT NULL,
	[MÃ SỐ NGƯỜI GIÁM SÁT] [nvarchar](7) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[MÃ SỐ NHÂN VIÊN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BẰNG CẤP]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BẰNG CẤP](
	[MÃ SỐ NHÂN VIÊN] [nvarchar](7) NOT NULL,
	[BẰNG CẤP] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_BẰNG CẤP] PRIMARY KEY CLUSTERED 
(
	[MÃ SỐ NHÂN VIÊN] ASC,
	[BẰNG CẤP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CINEMA]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CINEMA](
	[MÃ SỐ NHÂN VIÊN] [nvarchar](7) NOT NULL,
	[MÃ SỐ RẠP] [nvarchar](6) NOT NULL,
	[TÊN RẠP] [nvarchar](20) NOT NULL,
	[SỐ NHÀ] [nvarchar](10) NOT NULL,
	[PHƯỜNG/XÃ] [nvarchar](20) NOT NULL,
	[TỈNH/THÀNH] [nvarchar](30) NOT NULL,
	[TRẠNG THÁI] [nvarchar](10) NOT NULL,
	[NGÀY BẮT ĐẦU QUẢN LÍ] [date] NOT NULL,
 CONSTRAINT [PK_CINEMA] PRIMARY KEY CLUSTERED 
(
	[MÃ SỐ RẠP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[MÃ SỐ KHÁCH HÀNG] [nvarchar](8) NOT NULL,
	[HỌ VÀ TÊN ĐỆM] [nvarchar](20) NOT NULL,
	[TÊN] [nvarchar](10) NOT NULL,
	[NGÀY SINH] [date] NOT NULL,
	[SỐ ĐIỆN THOẠI] [nvarchar](10) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[GIỚI TÍNH] [nvarchar](3) NOT NULL,
	[NGÀY TẠO TÀI KHOẢN] [datetime] NOT NULL,
	[NGÀY CẬP NHẬT] [datetime] NOT NULL,
	[PASSWORD] [nvarchar](20) NOT NULL,
	[ĐIỂM TÍCH LŨY] [numeric](6, 0) NOT NULL,
	[MÃ HẠNG THÀNH VIÊN] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[MÃ SỐ KHÁCH HÀNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIỄN VIÊN]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIỄN VIÊN](
	[MÃ PHIM] [nvarchar](6) NOT NULL,
	[DIỄN VIÊN] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DIỄN VIÊN] PRIMARY KEY CLUSTERED 
(
	[MÃ PHIM] ASC,
	[DIỄN VIÊN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[MÃ SỐ NHÂN VIÊN] [nvarchar](7) NOT NULL,
	[HỌ VÀ TÊN ĐỆM] [nvarchar](20) NOT NULL,
	[TÊN] [nvarchar](10) NOT NULL,
	[GIỚI TÍNH] [nvarchar](3) NOT NULL,
	[CCCD] [nvarchar](12) NOT NULL,
	[NGÀY SINH] [date] NOT NULL,
	[SỐ ĐIỆN THOẠI] [nvarchar](10) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[SỐ NHÀ] [nvarchar](10) NOT NULL,
	[PHƯỜNG/XÃ] [nvarchar](20) NOT NULL,
	[TỈNH/THÀNH] [nvarchar](30) NOT NULL,
	[LOẠI NHÂN VIÊN] [nvarchar](25) NOT NULL,
	[TRẠNG THÁI] [nvarchar](20) NOT NULL,
	[USERNAME] [nvarchar](20) NOT NULL,
	[PASSWORD] [nvarchar](20) NOT NULL,
	[NGÀY CẬP NHẬT] [datetime] NOT NULL,
	[LƯƠNG] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[MÃ SỐ NHÂN VIÊN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FNB]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FNB](
	[MÃ SẢN PHẨM] [nvarchar](7) NOT NULL,
	[TÊN SẢN PHẨM] [nvarchar](20) NOT NULL,
	[MÔ TẢ] [nvarchar](50) NULL,
	[KÍCH THƯỚC] [nvarchar](2) NOT NULL,
	[GIÁ CẢ] [numeric](18, 0) NOT NULL,
	[IMAGE_URL] [nvarchar](30) NOT NULL,
	[NGÀY TẠO] [datetime] NOT NULL,
	[NGÀY CẬP NHẬT] [datetime] NOT NULL,
	[TRẠNG THÁI] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_FNB] PRIMARY KEY CLUSTERED 
(
	[MÃ SẢN PHẨM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HƯỞNG]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HƯỞNG](
	[MÃ KHUYẾN MÃI] [nvarchar](4) NOT NULL,
	[MÃ HẠNG THÀNH VIÊN] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_HƯỞNG] PRIMARY KEY CLUSTERED 
(
	[MÃ KHUYẾN MÃI] ASC,
	[MÃ HẠNG THÀNH VIÊN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LỒNG TIẾNG]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LỒNG TIẾNG](
	[MÃ PHIM] [nvarchar](6) NOT NULL,
	[LỒNG TIẾNG] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_LỒNG TIẾNG] PRIMARY KEY CLUSTERED 
(
	[MÃ PHIM] ASC,
	[LỒNG TIẾNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBERSHIP_LEVEL]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBERSHIP_LEVEL](
	[MÃ HẠNG THÀNH VIÊN] [nvarchar](5) NOT NULL,
	[TÊN HẠNG] [nvarchar](10) NOT NULL,
	[ĐIỂM TỐI THIỂU] [numeric](6, 0) NOT NULL,
	[MÔ TẢ QUYỀN LỢI] [nvarchar](100) NULL,
	[NGÀY CẬP NHẬT] [datetime] NOT NULL,
 CONSTRAINT [PK_MEMBERSHIP_LEVEL] PRIMARY KEY CLUSTERED 
(
	[MÃ HẠNG THÀNH VIÊN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE](
	[MÃ PHIM] [nvarchar](6) NOT NULL,
	[TÊN PHIM] [nvarchar](30) NOT NULL,
	[ĐẠO DIỄN] [nvarchar](20) NOT NULL,
	[NĂM PHÁT HÀNH] [nvarchar](4) NOT NULL,
	[NGÀY CẬP NHẬT] [datetime] NOT NULL,
	[THỜI LƯỢNG] [time](7) NOT NULL,
	[NGÔN NGỮ] [nvarchar](20) NOT NULL,
	[GIỚI HẠN ĐỘ TUỔI] [nvarchar](3) NOT NULL,
	[QUỐC GIA] [nvarchar](20) NOT NULL,
	[MÔ TẢ] [nvarchar](100) NOT NULL,
	[POSTER_URL] [nvarchar](20) NOT NULL,
	[TRAILER_URL] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_MOVIE] PRIMARY KEY CLUSTERED 
(
	[MÃ PHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[MÃ ĐƠN HÀNG] [nvarchar](6) NOT NULL,
	[MÃ SỐ KHÁCH HÀNG] [nvarchar](8) NOT NULL,
	[TỔNG TIỀN] [numeric](18, 0) NOT NULL,
	[SỐ TIỀN GIẢM] [numeric](18, 0) NOT NULL,
	[SỐ TIỀN CUỐI]  AS (case when (isnull([TỔNG TIỀN],(0))-isnull([SỐ TIỀN GIẢM],(0)))<(0) then (0) else isnull([TỔNG TIỀN],(0))-isnull([SỐ TIỀN GIẢM],(0)) end),
	[NGÀY TẠO] [datetime] NOT NULL,
	[TRẠNG THÁI] [nvarchar](15) NOT NULL,
	[MÃ KHUYẾN MÃI] [nvarchar](4) NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[MÃ ĐƠN HÀNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAIL](
	[MÃ ORDER_DETAIL] [nvarchar](7) NOT NULL,
	[MÃ ĐƠN HÀNG] [nvarchar](6) NOT NULL,
	[SỐ LƯỢNG SẢN PHẨM] [numeric](3, 0) NOT NULL,
	[MÃ SẢN PHẨM] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_ORDER_DETAIL] PRIMARY KEY CLUSTERED 
(
	[MÃ ORDER_DETAIL] ASC,
	[MÃ ĐƠN HÀNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHỤ ĐỀ]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHỤ ĐỀ](
	[MÃ PHIM] [nvarchar](6) NOT NULL,
	[PHỤ ĐỀ] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_PHỤ ĐỀ] PRIMARY KEY CLUSTERED 
(
	[MÃ PHIM] ASC,
	[PHỤ ĐỀ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRICE]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICE](
	[LOẠI PHÒNG] [nvarchar](10) NOT NULL,
	[LOẠI GHẾ] [nvarchar](10) NOT NULL,
	[GIÁ VÉ] [numeric](18, 0) NULL,
 CONSTRAINT [PK_PRICE] PRIMARY KEY CLUSTERED 
(
	[LOẠI PHÒNG] ASC,
	[LOẠI GHẾ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[MÃ SẢN PHẨM] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[MÃ SẢN PHẨM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[MÃ KHUYẾN MÃI] [nvarchar](4) NOT NULL,
	[TÊN KHUYẾN MÃI] [nvarchar](30) NOT NULL,
	[LOẠI KHUYẾN MÃI] [nvarchar](10) NOT NULL,
	[MÔ TẢ] [nvarchar](50) NULL,
	[PHẦN TRĂM GIẢM] [decimal](5, 2) NULL,
	[GIÁ TRỊ GIẢM TỐI ĐA] [numeric](6, 0) NOT NULL,
	[NGÀY TẠO] [datetime] NOT NULL,
	[NGÀY CẬP NHẬT] [datetime] NOT NULL,
	[NGÀY BẮT ĐẦU] [date] NOT NULL,
	[NGÀY KẾT THÚC] [date] NOT NULL,
	[TRẠNG THÁI] [nvarchar](10) NOT NULL,
	[PROMOTION_CODE] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PROMOTION] PRIMARY KEY CLUSTERED 
(
	[MÃ KHUYẾN MÃI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[MÃ PHIM] [nvarchar](6) NOT NULL,
	[MÃ SỐ KHÁCH HÀNG] [nvarchar](8) NOT NULL,
	[ĐIỂM RATING] [numeric](1, 0) NOT NULL,
	[NGÀY TẠO] [datetime] NOT NULL,
	[NGÀY CẬP NHẬT] [datetime] NULL,
 CONSTRAINT [PK_RATING] PRIMARY KEY CLUSTERED 
(
	[MÃ PHIM] ASC,
	[MÃ SỐ KHÁCH HÀNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[MÃ SỐ RẠP] [nvarchar](6) NOT NULL,
	[MÃ PHÒNG] [nvarchar](3) NOT NULL,
	[TÊN PHÒNG] [nvarchar](10) NOT NULL,
	[MÔ TẢ] [nvarchar](50) NULL,
	[THÔNG SỐ KỸ THUẬT] [nvarchar](50) NOT NULL,
	[TRẠNG THÁI] [nvarchar](10) NOT NULL,
	[LOẠI PHÒNG] [nvarchar](10) NULL,
 CONSTRAINT [PK_ROOM] PRIMARY KEY CLUSTERED 
(
	[MÃ SỐ RẠP] ASC,
	[MÃ PHÒNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM_TYPE]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM_TYPE](
	[LOẠI PHÒNG] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_ROOM_TYPE] PRIMARY KEY CLUSTERED 
(
	[LOẠI PHÒNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEAT]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEAT](
	[MÃ SỐ RẠP] [nvarchar](6) NOT NULL,
	[MÃ PHÒNG] [nvarchar](3) NOT NULL,
	[MÃ SỐ GHẾ] [nvarchar](3) NOT NULL,
	[TÊN GHẾ] [nvarchar](10) NOT NULL,
	[MÔ TẢ] [nvarchar](50) NULL,
	[THÔNG SỐ KỸ THUẬT] [nvarchar](50) NOT NULL,
	[LOẠI GHẾ] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_SEAT] PRIMARY KEY CLUSTERED 
(
	[MÃ SỐ RẠP] ASC,
	[MÃ PHÒNG] ASC,
	[MÃ SỐ GHẾ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEAT_SHOWTIME]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEAT_SHOWTIME](
	[MÃ SỐ RẠP] [nvarchar](6) NOT NULL,
	[MÃ PHÒNG] [nvarchar](3) NOT NULL,
	[MÃ SỐ GHẾ] [nvarchar](3) NOT NULL,
	[MÃ SỐ SUẤT CHIẾU] [nvarchar](7) NOT NULL,
	[MÃ SEAT_SHOWTIME] [nvarchar](7) NOT NULL,
	[TRẠNG THÁI GHẾ] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_SEAT_SHOWTIME] PRIMARY KEY CLUSTERED 
(
	[MÃ SỐ RẠP] ASC,
	[MÃ PHÒNG] ASC,
	[MÃ SỐ GHẾ] ASC,
	[MÃ SỐ SUẤT CHIẾU] ASC,
	[MÃ SEAT_SHOWTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEAT_TYPE]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEAT_TYPE](
	[LOẠI GHẾ] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_SEAT_TYPE] PRIMARY KEY CLUSTERED 
(
	[LOẠI GHẾ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOWTIME]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOWTIME](
	[MÃ SỐ SUẤT CHIẾU] [nvarchar](7) NOT NULL,
	[NGÀY CHIẾU] [date] NOT NULL,
	[GIỜ BẮT ĐẦU] [time](7) NOT NULL,
	[GIỜ KẾT THÚC] [time](7) NOT NULL,
	[NGÀY TẠO] [datetime] NOT NULL,
	[NGÀY CẬP NHẬT] [datetime] NOT NULL,
	[TRẠNG THÁI] [nvarchar](10) NOT NULL,
	[MÃ PHÒNG] [nvarchar](3) NOT NULL,
	[MÃ SỐ RẠP] [nvarchar](6) NOT NULL,
	[MÃ PHIM] [nvarchar](6) NOT NULL,
 CONSTRAINT [PK_SHOWTIME] PRIMARY KEY CLUSTERED 
(
	[MÃ SỐ SUẤT CHIẾU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[MÃ SỐ NHÂN VIÊN] [nvarchar](7) NOT NULL,
	[MÃ SỐ NGƯỜI GIÁM SÁT] [nvarchar](7) NULL,
	[MÃ SỐ RẠP] [nvarchar](6) NOT NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[MÃ SỐ NHÂN VIÊN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THỂ LOẠI]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THỂ LOẠI](
	[MÃ PHIM] [nvarchar](6) NOT NULL,
	[THỂ LOẠI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_THỂ LOẠI] PRIMARY KEY CLUSTERED 
(
	[MÃ PHIM] ASC,
	[THỂ LOẠI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET_MOVIE]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET_MOVIE](
	[MÃ SẢN PHẨM] [nvarchar](7) NOT NULL,
	[MÃ SỐ RẠP] [nvarchar](6) NOT NULL,
	[MÃ PHÒNG] [nvarchar](3) NOT NULL,
	[MÃ SỐ GHẾ] [nvarchar](3) NOT NULL,
	[MÃ SỐ SUẤT CHIẾU] [nvarchar](7) NOT NULL,
	[MÃ SEAT_SHOWTIME] [nvarchar](7) NOT NULL,
	[TRẠNG THÁI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TICKET_MOVIE] PRIMARY KEY CLUSTERED 
(
	[MÃ SẢN PHẨM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION]    Script Date: 05/04/2026 10:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION](
	[MÃ THANH TOÁN] [nvarchar](7) NOT NULL,
	[PHƯƠNG THỨC] [nvarchar](20) NOT NULL,
	[SỐ TIỀN THỰC TẾ] [numeric](18, 0) NOT NULL,
	[NGÀY TẠO] [datetime] NOT NULL,
	[TRẠNG THÁI] [nvarchar](10) NOT NULL,
	[MÃ ĐƠN HÀNG] [nvarchar](6) NOT NULL,
 CONSTRAINT [PK_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[MÃ THANH TOÁN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ADMIN] ([MÃ SỐ NHÂN VIÊN], [MÃ SỐ NGƯỜI GIÁM SÁT]) VALUES (N'E000001', NULL)
INSERT [dbo].[ADMIN] ([MÃ SỐ NHÂN VIÊN], [MÃ SỐ NGƯỜI GIÁM SÁT]) VALUES (N'E000003', N'E000001')
INSERT [dbo].[ADMIN] ([MÃ SỐ NHÂN VIÊN], [MÃ SỐ NGƯỜI GIÁM SÁT]) VALUES (N'E000007', N'E000001')
GO
INSERT [dbo].[BẰNG CẤP] ([MÃ SỐ NHÂN VIÊN], [BẰNG CẤP]) VALUES (N'E000001', N'Cử nhân CNTT')
INSERT [dbo].[BẰNG CẤP] ([MÃ SỐ NHÂN VIÊN], [BẰNG CẤP]) VALUES (N'E000001', N'Thạc sĩ Quản trị kinh doanh')
INSERT [dbo].[BẰNG CẤP] ([MÃ SỐ NHÂN VIÊN], [BẰNG CẤP]) VALUES (N'E000002', N'Cao đẳng CNTT')
GO
INSERT [dbo].[CINEMA] ([MÃ SỐ NHÂN VIÊN], [MÃ SỐ RẠP], [TÊN RẠP], [SỐ NHÀ], [PHƯỜNG/XÃ], [TỈNH/THÀNH], [TRẠNG THÁI], [NGÀY BẮT ĐẦU QUẢN LÍ]) VALUES (N'E000002', N'RAP001', N'Rạp Galaxy Nguyễn Du', N'101', N'Bến Thành', N'Thành phố Hồ Chí Minh', N'HOẠT ĐỘNG', CAST(N'2026-01-10' AS Date))
INSERT [dbo].[CINEMA] ([MÃ SỐ NHÂN VIÊN], [MÃ SỐ RẠP], [TÊN RẠP], [SỐ NHÀ], [PHƯỜNG/XÃ], [TỈNH/THÀNH], [TRẠNG THÁI], [NGÀY BẮT ĐẦU QUẢN LÍ]) VALUES (N'E000006', N'RAP002', N'Rạp CGV Vincom', N'202', N'Thảo Điền', N'Thành phố Hồ Chí Minh', N'HOẠT ĐỘNG', CAST(N'2026-02-15' AS Date))
INSERT [dbo].[CINEMA] ([MÃ SỐ NHÂN VIÊN], [MÃ SỐ RẠP], [TÊN RẠP], [SỐ NHÀ], [PHƯỜNG/XÃ], [TỈNH/THÀNH], [TRẠNG THÁI], [NGÀY BẮT ĐẦU QUẢN LÍ]) VALUES (N'E000010', N'RAP003', N'Rạp Lotte Cinema', N'303', N'Phú Thọ', N'Thành phố Hồ Chí Minh', N'HOẠT ĐỘNG', CAST(N'2026-03-01' AS Date))
GO
INSERT [dbo].[CUSTOMER] ([MÃ SỐ KHÁCH HÀNG], [HỌ VÀ TÊN ĐỆM], [TÊN], [NGÀY SINH], [SỐ ĐIỆN THOẠI], [EMAIL], [GIỚI TÍNH], [NGÀY TẠO TÀI KHOẢN], [NGÀY CẬP NHẬT], [PASSWORD], [ĐIỂM TÍCH LŨY], [MÃ HẠNG THÀNH VIÊN]) VALUES (N'C0000001', N'Nguyễn Văn', N'Nam', CAST(N'1999-05-14' AS Date), N'0909000011', N'nam.nguyen99@gmail.com', N'Nam', CAST(N'2025-01-10' AS Date), CAST(N'2026-03-20' AS Date), N'NamNguyen99', CAST(7600 AS Numeric(6, 0)), N'ML1')
INSERT [dbo].[CUSTOMER] ([MÃ SỐ KHÁCH HÀNG], [HỌ VÀ TÊN ĐỆM], [TÊN], [NGÀY SINH], [SỐ ĐIỆN THOẠI], [EMAIL], [GIỚI TÍNH], [NGÀY TẠO TÀI KHOẢN], [NGÀY CẬP NHẬT], [PASSWORD], [ĐIỂM TÍCH LŨY], [MÃ HẠNG THÀNH VIÊN]) VALUES (N'C0000002', N'Trần Thị', N'Mai', CAST(N'2001-08-22' AS Date), N'0909000012', N'mai.tran01@gmail.com', N'Nữ', CAST(N'2025-03-15' AS Date), CAST(N'2026-03-18' AS Date), N'MaiTran01A', CAST(5450 AS Numeric(6, 0)), N'ML1')
INSERT [dbo].[CUSTOMER] ([MÃ SỐ KHÁCH HÀNG], [HỌ VÀ TÊN ĐỆM], [TÊN], [NGÀY SINH], [SỐ ĐIỆN THOẠI], [EMAIL], [GIỚI TÍNH], [NGÀY TẠO TÀI KHOẢN], [NGÀY CẬP NHẬT], [PASSWORD], [ĐIỂM TÍCH LŨY], [MÃ HẠNG THÀNH VIÊN]) VALUES (N'C0000003', N'Lê Hoàng', N'Phúc', CAST(N'1998-11-30' AS Date), N'0909000013', N'phuc.le98@gmail.com', N'Nam', CAST(N'2024-12-05' AS Date), CAST(N'2026-02-25' AS Date), N'PhucLe98X', CAST(0 AS Numeric(6, 0)), N'ML1')
GO
INSERT [dbo].[DIỄN VIÊN] ([MÃ PHIM], [DIỄN VIÊN]) VALUES (N'MV0001', N'Chris Evans')
INSERT [dbo].[DIỄN VIÊN] ([MÃ PHIM], [DIỄN VIÊN]) VALUES (N'MV0001', N'Robert Downey Jr.')
INSERT [dbo].[DIỄN VIÊN] ([MÃ PHIM], [DIỄN VIÊN]) VALUES (N'MV0002', N'Wasabi Mizuta')
GO
INSERT [dbo].[EMPLOYEE] ([MÃ SỐ NHÂN VIÊN], [HỌ VÀ TÊN ĐỆM], [TÊN], [GIỚI TÍNH], [CCCD], [NGÀY SINH], [SỐ ĐIỆN THOẠI], [EMAIL], [SỐ NHÀ], [PHƯỜNG/XÃ], [TỈNH/THÀNH], [LOẠI NHÂN VIÊN], [TRẠNG THÁI], [USERNAME], [PASSWORD], [NGÀY CẬP NHẬT], [LƯƠNG]) VALUES (N'E000001', N'Nguyễn Văn', N'An', N'Nam', N'074000000001', CAST(N'1998-04-12' AS Date), N'0909000001', N'EmE000001@gmail.com', N'12', N'Quận 1', N'Thành phố Hồ Chí Minh', N'NHÂN VIÊN CHÍNH THỨC', N'ĐANG LÀM', N'an.nguyen', N'AnNguyen98', CAST(N'2026-03-20' AS Date), CAST(12000000 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYEE] ([MÃ SỐ NHÂN VIÊN], [HỌ VÀ TÊN ĐỆM], [TÊN], [GIỚI TÍNH], [CCCD], [NGÀY SINH], [SỐ ĐIỆN THOẠI], [EMAIL], [SỐ NHÀ], [PHƯỜNG/XÃ], [TỈNH/THÀNH], [LOẠI NHÂN VIÊN], [TRẠNG THÁI], [USERNAME], [PASSWORD], [NGÀY CẬP NHẬT], [LƯƠNG]) VALUES (N'E000002', N'Lê Hoàng', N'Minh', N'Nam', N'074000000002', CAST(N'2000-09-25' AS Date), N'0909000002', N'EmE000002@gmail.com', N'45', N'Quận 2', N'Thành phố Hồ Chí Minh', N'NHÂN VIÊN THỜI VỤ', N'ĐANG LÀM', N'minh.le', N'MinhLe00A', CAST(N'2026-03-18' AS Date), CAST(7000000 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYEE] ([MÃ SỐ NHÂN VIÊN], [HỌ VÀ TÊN ĐỆM], [TÊN], [GIỚI TÍNH], [CCCD], [NGÀY SINH], [SỐ ĐIỆN THOẠI], [EMAIL], [SỐ NHÀ], [PHƯỜNG/XÃ], [TỈNH/THÀNH], [LOẠI NHÂN VIÊN], [TRẠNG THÁI], [USERNAME], [PASSWORD], [NGÀY CẬP NHẬT], [LƯƠNG]) VALUES (N'E000003', N'Hoàng Gia', N'Huy', N'Nam', N'074000000003', CAST(N'1997-01-08' AS Date), N'0909000003', N'EmE000003@gmail.com', N'78', N'Quận 3', N'Thành phố Hồ Chí Minh', N'NHÂN VIÊN CHÍNH THỨC', N'ĐÃ NGHỈ', N'huy.hoang', N'HuyHoang97', CAST(N'2026-02-10' AS Date), CAST(15000000 AS Numeric(18, 0)))
GO
INSERT [dbo].[FNB] ([MÃ SẢN PHẨM], [TÊN SẢN PHẨM], [MÔ TẢ], [KÍCH THƯỚC], [GIÁ CẢ], [IMAGE_URL], [NGÀY TẠO], [NGÀY CẬP NHẬT], [TRẠNG THÁI]) VALUES (N'F001', N'Bắp rang bơ', N'Bắp rang truyền thống', N'S', CAST(30000 AS Numeric(18, 0)), N'baprang_s.jpg', CAST(N'2026-03-01' AS Date), CAST(N'2026-03-05' AS Date), N'ĐANG BÁN')
INSERT [dbo].[FNB] ([MÃ SẢN PHẨM], [TÊN SẢN PHẨM], [MÔ TẢ], [KÍCH THƯỚC], [GIÁ CẢ], [IMAGE_URL], [NGÀY TẠO], [NGÀY CẬP NHẬT], [TRẠNG THÁI]) VALUES (N'F002', N'Bắp rang phô mai', N'Bắp rang vị phô mai', N'M', CAST(45000 AS Numeric(18, 0)), N'baprang_m.jpg', CAST(N'2026-03-02' AS Date), CAST(N'2026-03-06' AS Date), N'ĐANG BÁN')
INSERT [dbo].[FNB] ([MÃ SẢN PHẨM], [TÊN SẢN PHẨM], [MÔ TẢ], [KÍCH THƯỚC], [GIÁ CẢ], [IMAGE_URL], [NGÀY TẠO], [NGÀY CẬP NHẬT], [TRẠNG THÁI]) VALUES (N'F003', N'Bắp caramel', N'Bắp rang vị caramel', N'L', CAST(50000 AS Numeric(18, 0)), N'baprang_l.jpg', CAST(N'2026-03-03' AS Date), CAST(N'2026-03-07' AS Date), N'ĐANG BÁN')
GO
INSERT [dbo].[HƯỞNG] ([MÃ KHUYẾN MÃI], [MÃ HẠNG THÀNH VIÊN]) VALUES (N'P001', N'ML1')
INSERT [dbo].[HƯỞNG] ([MÃ KHUYẾN MÃI], [MÃ HẠNG THÀNH VIÊN]) VALUES (N'P001', N'ML2')
INSERT [dbo].[HƯỞNG] ([MÃ KHUYẾN MÃI], [MÃ HẠNG THÀNH VIÊN]) VALUES (N'P001', N'ML3')
GO
INSERT [dbo].[LỒNG TIẾNG] ([MÃ PHIM], [LỒNG TIẾNG]) VALUES (N'MV0001', N'Tiếng Việt')
INSERT [dbo].[LỒNG TIẾNG] ([MÃ PHIM], [LỒNG TIẾNG]) VALUES (N'MV0002', N'Tiếng Việt')
INSERT [dbo].[LỒNG TIẾNG] ([MÃ PHIM], [LỒNG TIẾNG]) VALUES (N'MV0004', N'Tiếng Việt')
GO
INSERT [dbo].[MEMBERSHIP_LEVEL] ([MÃ HẠNG THÀNH VIÊN], [TÊN HẠNG], [ĐIỂM TỐI THIỂU], [MÔ TẢ QUYỀN LỢI], [NGÀY CẬP NHẬT]) VALUES (N'ML1', N'MEMBER', CAST(0 AS Numeric(6, 0)), N'Hạng mặc định cho khách hàng mới hoặc không đủ điểm. Không có ưu đãi.', CAST(N'2026-01-11' AS Date))
INSERT [dbo].[MEMBERSHIP_LEVEL] ([MÃ HẠNG THÀNH VIÊN], [TÊN HẠNG], [ĐIỂM TỐI THIỂU], [MÔ TẢ QUYỀN LỢI], [NGÀY CẬP NHẬT]) VALUES (N'ML2', N'VIP', CAST(20000 AS Numeric(6, 0)), N'Nhận 2 mã giảm giá 20% tối đa 100k, thời hạn 2 tháng kể từ khi đạt hạng.', CAST(N'2026-01-11' AS Date))
INSERT [dbo].[MEMBERSHIP_LEVEL] ([MÃ HẠNG THÀNH VIÊN], [TÊN HẠNG], [ĐIỂM TỐI THIỂU], [MÔ TẢ QUYỀN LỢI], [NGÀY CẬP NHẬT]) VALUES (N'ML3', N'VVIP', CAST(50000 AS Numeric(6, 0)), N'Nhận ưu đãi VIP + 3 mã giảm 30% tối đa 200k, thời hạn 3 tháng.', CAST(N'2026-01-11' AS Date))
GO
INSERT [dbo].[MOVIE] ([MÃ PHIM], [TÊN PHIM], [ĐẠO DIỄN], [NĂM PHÁT HÀNH], [NGÀY CẬP NHẬT], [THỜI LƯỢNG], [NGÔN NGỮ], [GIỚI HẠN ĐỘ TUỔI], [QUỐC GIA], [MÔ TẢ], [POSTER_URL], [TRAILER_URL]) VALUES (N'MV0001', N'Avengers: Endgame', N'Anthony Russo', N'2019', CAST(N'2026-03-20' AS Date), CAST(N'03:01:00' AS Time), N'Tiếng Anh', N'T13', N'Mỹ', N'Siêu anh hùng cứu thế giới', N'poster1.jpg', N'trailer1.mp4')
INSERT [dbo].[MOVIE] ([MÃ PHIM], [TÊN PHIM], [ĐẠO DIỄN], [NĂM PHÁT HÀNH], [NGÀY CẬP NHẬT], [THỜI LƯỢNG], [NGÔN NGỮ], [GIỚI HẠN ĐỘ TUỔI], [QUỐC GIA], [MÔ TẢ], [POSTER_URL], [TRAILER_URL]) VALUES (N'MV0002', N'Doraemon Movie', N'Takashi Yamazaki', N'2020', CAST(N'2026-03-18' AS Date), CAST(N'01:50:00' AS Time), N'Tiếng Nhật', N'P', N'Nhật Bản', N'Phiêu lưu cùng Doraemon', N'poster2.jpg', N'trailer2.mp4')
INSERT [dbo].[MOVIE] ([MÃ PHIM], [TÊN PHIM], [ĐẠO DIỄN], [NĂM PHÁT HÀNH], [NGÀY CẬP NHẬT], [THỜI LƯỢNG], [NGÔN NGỮ], [GIỚI HẠN ĐỘ TUỔI], [QUỐC GIA], [MÔ TẢ], [POSTER_URL], [TRAILER_URL]) VALUES (N'MV0003', N'The Conjuring', N'James Wan', N'2013', CAST(N'2026-02-25' AS Date), CAST(N'01:52:00' AS Time), N'Tiếng Anh', N'T18', N'Mỹ', N'Phim kinh dị nổi tiếng', N'poster3.jpg', N'trailer3.mp4')
GO
INSERT [dbo].[ORDER] ([MÃ ĐƠN HÀNG], [MÃ SỐ KHÁCH HÀNG], [TỔNG TIỀN], [SỐ TIỀN GIẢM], [NGÀY TẠO], [TRẠNG THÁI], [MÃ KHUYẾN MÃI]) VALUES (N'O00001', N'C0000001', CAST(860000 AS Numeric(18, 0)), CAST(100000 AS Numeric(18, 0)), CAST(N'2026-03-01' AS Date), N'ĐÃ THANH TOÁN', N'P001')
INSERT [dbo].[ORDER] ([MÃ ĐƠN HÀNG], [MÃ SỐ KHÁCH HÀNG], [TỔNG TIỀN], [SỐ TIỀN GIẢM], [NGÀY TẠO], [TRẠNG THÁI], [MÃ KHUYẾN MÃI]) VALUES (N'O00002', N'C0000002', CAST(595000 AS Numeric(18, 0)), CAST(50000 AS Numeric(18, 0)), CAST(N'2026-03-02' AS Date), N'ĐÃ THANH TOÁN', N'P010')
INSERT [dbo].[ORDER] ([MÃ ĐƠN HÀNG], [MÃ SỐ KHÁCH HÀNG], [TỔNG TIỀN], [SỐ TIỀN GIẢM], [NGÀY TẠO], [TRẠNG THÁI], [MÃ KHUYẾN MÃI]) VALUES (N'O00003', N'C0000003', CAST(2200000 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(N'2026-03-03' AS Date), N'ĐANG CHỜ', NULL)
GO
INSERT [dbo].[ORDER_DETAIL] ([MÃ ORDER_DETAIL], [MÃ ĐƠN HÀNG], [SỐ LƯỢNG SẢN PHẨM], [MÃ SẢN PHẨM]) VALUES (N'OD00001', N'O00001', CAST(1 AS Numeric(3, 0)), N'TK00001')
INSERT [dbo].[ORDER_DETAIL] ([MÃ ORDER_DETAIL], [MÃ ĐƠN HÀNG], [SỐ LƯỢNG SẢN PHẨM], [MÃ SẢN PHẨM]) VALUES (N'OD00002', N'O00001', CAST(1 AS Numeric(3, 0)), N'TK00002')
INSERT [dbo].[ORDER_DETAIL] ([MÃ ORDER_DETAIL], [MÃ ĐƠN HÀNG], [SỐ LƯỢNG SẢN PHẨM], [MÃ SẢN PHẨM]) VALUES (N'OD00003', N'O00001', CAST(1 AS Numeric(3, 0)), N'TK00003')
GO
INSERT [dbo].[PHỤ ĐỀ] ([MÃ PHIM], [PHỤ ĐỀ]) VALUES (N'MV0001', N'Tiếng Anh')
INSERT [dbo].[PHỤ ĐỀ] ([MÃ PHIM], [PHỤ ĐỀ]) VALUES (N'MV0001', N'Tiếng Việt')
INSERT [dbo].[PHỤ ĐỀ] ([MÃ PHIM], [PHỤ ĐỀ]) VALUES (N'MV0003', N'Tiếng Việt')
GO
INSERT [dbo].[PRICE] ([LOẠI PHÒNG], [LOẠI GHẾ], [GIÁ VÉ]) VALUES (N'4DX', N'4DX', CAST(300000 AS Numeric(18, 0)))
INSERT [dbo].[PRICE] ([LOẠI PHÒNG], [LOẠI GHẾ], [GIÁ VÉ]) VALUES (N'IMAX', N'IMAX', CAST(350000 AS Numeric(18, 0)))
INSERT [dbo].[PRICE] ([LOẠI PHÒNG], [LOẠI GHẾ], [GIÁ VÉ]) VALUES (N'PREMIUM', N'PREMIUM', CAST(250000 AS Numeric(18, 0)))
GO
INSERT [dbo].[PRODUCT] ([MÃ SẢN PHẨM]) VALUES (N'F001')
INSERT [dbo].[PRODUCT] ([MÃ SẢN PHẨM]) VALUES (N'F002')
INSERT [dbo].[PRODUCT] ([MÃ SẢN PHẨM]) VALUES (N'F003')
GO
INSERT [dbo].[PROMOTION] ([MÃ KHUYẾN MÃI], [TÊN KHUYẾN MÃI], [LOẠI KHUYẾN MÃI], [MÔ TẢ], [PHẦN TRĂM GIẢM], [GIÁ TRỊ GIẢM TỐI ĐA], [NGÀY TẠO], [NGÀY CẬP NHẬT], [NGÀY BẮT ĐẦU], [NGÀY KẾT THÚC], [TRẠNG THÁI], [PROMOTION_CODE]) VALUES (N'P001', N'Ưu đãi sinh nhật', N'PHẦN TRĂM', N'Giảm 20% cho khách hàng trong tháng sinh nhật', CAST(20.00 AS Decimal(5, 2)), CAST(100000 AS Numeric(6, 0)), CAST(N'2026-03-01' AS Date), CAST(N'2026-03-02' AS Date), CAST(N'2026-04-01' AS Date), CAST(N'2026-04-30' AS Date), N'HOẠT ĐỘNG', N'SINHNHAT')
INSERT [dbo].[PROMOTION] ([MÃ KHUYẾN MÃI], [TÊN KHUYẾN MÃI], [LOẠI KHUYẾN MÃI], [MÔ TẢ], [PHẦN TRĂM GIẢM], [GIÁ TRỊ GIẢM TỐI ĐA], [NGÀY TẠO], [NGÀY CẬP NHẬT], [NGÀY BẮT ĐẦU], [NGÀY KẾT THÚC], [TRẠNG THÁI], [PROMOTION_CODE]) VALUES (N'P002', N'Ưu đãi VIP 1', N'PHẦN TRĂM', N'Khách VIP giảm 20% tối đa 100k', CAST(20.00 AS Decimal(5, 2)), CAST(100000 AS Numeric(6, 0)), CAST(N'2026-03-05' AS Date), CAST(N'2026-03-06' AS Date), CAST(N'2026-03-10' AS Date), CAST(N'2026-05-10' AS Date), N'HOẠT ĐỘNG', N'VIP20A')
INSERT [dbo].[PROMOTION] ([MÃ KHUYẾN MÃI], [TÊN KHUYẾN MÃI], [LOẠI KHUYẾN MÃI], [MÔ TẢ], [PHẦN TRĂM GIẢM], [GIÁ TRỊ GIẢM TỐI ĐA], [NGÀY TẠO], [NGÀY CẬP NHẬT], [NGÀY BẮT ĐẦU], [NGÀY KẾT THÚC], [TRẠNG THÁI], [PROMOTION_CODE]) VALUES (N'P003', N'Ưu đãi VIP 2', N'PHẦN TRĂM', N'Khách VIP giảm 20% tối đa 100k', CAST(20.00 AS Decimal(5, 2)), CAST(100000 AS Numeric(6, 0)), CAST(N'2026-03-05' AS Date), CAST(N'2026-03-06' AS Date), CAST(N'2026-03-10' AS Date), CAST(N'2026-05-10' AS Date), N'HOẠT ĐỘNG', N'VIP20B')

GO
INSERT [dbo].[RATING] ([MÃ PHIM], [MÃ SỐ KHÁCH HÀNG], [ĐIỂM RATING], [NGÀY TẠO], [NGÀY CẬP NHẬT]) VALUES (N'MV0001', N'C0000001', CAST(5 AS Numeric(1, 0)), CAST(N'2026-04-04' AS Date), CAST(N'2026-04-05' AS Date))
INSERT [dbo].[RATING] ([MÃ PHIM], [MÃ SỐ KHÁCH HÀNG], [ĐIỂM RATING], [NGÀY TẠO], [NGÀY CẬP NHẬT]) VALUES (N'MV0003', N'C0000005', CAST(3 AS Numeric(1, 0)), CAST(N'2026-04-02' AS Date), NULL)
INSERT [dbo].[RATING] ([MÃ PHIM], [MÃ SỐ KHÁCH HÀNG], [ĐIỂM RATING], [NGÀY TẠO], [NGÀY CẬP NHẬT]) VALUES (N'MV0005', N'C0000007', CAST(4 AS Numeric(1, 0)), CAST(N'2026-04-03' AS Date), NULL)
GO
INSERT [dbo].[ROOM] ([MÃ SỐ RẠP], [MÃ PHÒNG], [TÊN PHÒNG], [MÔ TẢ], [THÔNG SỐ KỸ THUẬT], [TRẠNG THÁI], [LOẠI PHÒNG]) VALUES (N'RAP001', N'P01', N'Phòng 1', N'Phòng tiêu chuẩn', N'Màn hình 2D, âm thanh Dolby', N'HOẠT ĐỘNG', N'STANDARD')
INSERT [dbo].[ROOM] ([MÃ SỐ RẠP], [MÃ PHÒNG], [TÊN PHÒNG], [MÔ TẢ], [THÔNG SỐ KỸ THUẬT], [TRẠNG THÁI], [LOẠI PHÒNG]) VALUES (N'RAP001', N'P02', N'Phòng 2', N'Phòng IMAX', N'Màn hình lớn, âm thanh vòm', N'HOẠT ĐỘNG', N'IMAX')
INSERT [dbo].[ROOM] ([MÃ SỐ RẠP], [MÃ PHÒNG], [TÊN PHÒNG], [MÔ TẢ], [THÔNG SỐ KỸ THUẬT], [TRẠNG THÁI], [LOẠI PHÒNG]) VALUES (N'RAP002', N'P01', N'Phòng 1', N'Phòng 4DX', N'Ghế rung, hiệu ứng nước/gió', N'HOẠT ĐỘNG', N'4DX')
GO
INSERT [dbo].[ROOM_TYPE] ([LOẠI PHÒNG]) VALUES (N'4DX')
INSERT [dbo].[ROOM_TYPE] ([LOẠI PHÒNG]) VALUES (N'IMAX')
INSERT [dbo].[ROOM_TYPE] ([LOẠI PHÒNG]) VALUES (N'PREMIUM')
GO
INSERT [dbo].[SEAT] ([MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ], [TÊN GHẾ], [MÔ TẢ], [THÔNG SỐ KỸ THUẬT], [LOẠI GHẾ]) VALUES (N'RAP001', N'P01', N'S01', N'Ghế 1', N'Ghế thường', N'Nệm êm', N'STANDARD')
INSERT [dbo].[SEAT] ([MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ], [TÊN GHẾ], [MÔ TẢ], [THÔNG SỐ KỸ THUẬT], [LOẠI GHẾ]) VALUES (N'RAP001', N'P01', N'S02', N'Ghế 2', N'Ghế thường', N'Nệm êm', N'STANDARD')
INSERT [dbo].[SEAT] ([MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ], [TÊN GHẾ], [MÔ TẢ], [THÔNG SỐ KỸ THUẬT], [LOẠI GHẾ]) VALUES (N'RAP001', N'P01', N'S03', N'Ghế 3', N'Ghế VIP', N'Rộng hơn', N'VIP')
GO
INSERT [dbo].[SEAT_SHOWTIME] ([MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ], [MÃ SỐ SUẤT CHIẾU], [MÃ SEAT_SHOWTIME], [TRẠNG THÁI GHẾ]) VALUES (N'RAP001', N'P01', N'S01', N'ST001', N'SS00001', N'KHÔNG THỂ CHỌN')
INSERT [dbo].[SEAT_SHOWTIME] ([MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ], [MÃ SỐ SUẤT CHIẾU], [MÃ SEAT_SHOWTIME], [TRẠNG THÁI GHẾ]) VALUES (N'RAP001', N'P01', N'S01', N'ST002', N'SS00011', N'ĐÃ CHỌN')
INSERT [dbo].[SEAT_SHOWTIME] ([MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ], [MÃ SỐ SUẤT CHIẾU], [MÃ SEAT_SHOWTIME], [TRẠNG THÁI GHẾ]) VALUES (N'RAP001', N'P01', N'S01', N'ST003', N'SS00021', N'KHÔNG THỂ CHỌN')
GO
INSERT [dbo].[SEAT_TYPE] ([LOẠI GHẾ]) VALUES (N'4DX')
INSERT [dbo].[SEAT_TYPE] ([LOẠI GHẾ]) VALUES (N'IMAX')
INSERT [dbo].[SEAT_TYPE] ([LOẠI GHẾ]) VALUES (N'PREMIUM')
GO
INSERT [dbo].[SHOWTIME] ([MÃ SỐ SUẤT CHIẾU], [NGÀY CHIẾU], [GIỜ BẮT ĐẦU], [GIỜ KẾT THÚC], [NGÀY TẠO], [NGÀY CẬP NHẬT], [TRẠNG THÁI], [MÃ PHÒNG], [MÃ SỐ RẠP], [MÃ PHIM]) VALUES (N'ST001', CAST(N'2026-04-03' AS Date), CAST(N'08:00:00' AS Time), CAST(N'11:16:00' AS Time), CAST(N'2026-03-28' AS Date), CAST(N'2026-03-29' AS Date), N'KẾT THÚC', N'P01', N'RAP001', N'MV0001')
INSERT [dbo].[SHOWTIME] ([MÃ SỐ SUẤT CHIẾU], [NGÀY CHIẾU], [GIỜ BẮT ĐẦU], [GIỜ KẾT THÚC], [NGÀY TẠO], [NGÀY CẬP NHẬT], [TRẠNG THÁI], [MÃ PHÒNG], [MÃ SỐ RẠP], [MÃ PHIM]) VALUES (N'ST002', CAST(N'2026-04-04' AS Date), CAST(N'11:30:00' AS Time), CAST(N'13:35:00' AS Time), CAST(N'2026-03-28' AS Date), CAST(N'2026-03-29' AS Date), N'HOẠT ĐỘNG', N'P01', N'RAP001', N'MV0002')
INSERT [dbo].[SHOWTIME] ([MÃ SỐ SUẤT CHIẾU], [NGÀY CHIẾU], [GIỜ BẮT ĐẦU], [GIỜ KẾT THÚC], [NGÀY TẠO], [NGÀY CẬP NHẬT], [TRẠNG THÁI], [MÃ PHÒNG], [MÃ SỐ RẠP], [MÃ PHIM]) VALUES (N'ST003', CAST(N'2026-04-06' AS Date), CAST(N'13:50:00' AS Time), CAST(N'15:57:00' AS Time), CAST(N'2026-03-28' AS Date), CAST(N'2026-03-30' AS Date), N'NHÁP', N'P01', N'RAP001', N'MV0003')
GO
INSERT [dbo].[STAFF] ([MÃ SỐ NHÂN VIÊN], [MÃ SỐ NGƯỜI GIÁM SÁT], [MÃ SỐ RẠP]) VALUES (N'E000002', NULL, N'RAP001')
INSERT [dbo].[STAFF] ([MÃ SỐ NHÂN VIÊN], [MÃ SỐ NGƯỜI GIÁM SÁT], [MÃ SỐ RẠP]) VALUES (N'E000004', N'E000002', N'RAP001')
INSERT [dbo].[STAFF] ([MÃ SỐ NHÂN VIÊN], [MÃ SỐ NGƯỜI GIÁM SÁT], [MÃ SỐ RẠP]) VALUES (N'E000005', N'E000002', N'RAP001')
GO
INSERT [dbo].[THỂ LOẠI] ([MÃ PHIM], [THỂ LOẠI]) VALUES (N'MV0001', N'Hành động')
INSERT [dbo].[THỂ LOẠI] ([MÃ PHIM], [THỂ LOẠI]) VALUES (N'MV0001', N'Khoa học viễn tưởng')
INSERT [dbo].[THỂ LOẠI] ([MÃ PHIM], [THỂ LOẠI]) VALUES (N'MV0002', N'Hoạt hình')
GO
INSERT [dbo].[TICKET_MOVIE] ([MÃ SẢN PHẨM], [MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ], [MÃ SỐ SUẤT CHIẾU], [MÃ SEAT_SHOWTIME], [TRẠNG THÁI]) VALUES (N'TK00001', N'RAP001', N'P01', N'S01', N'ST001', N'SS00001', N'ĐÃ SỬ DỤNG')
INSERT [dbo].[TICKET_MOVIE] ([MÃ SẢN PHẨM], [MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ], [MÃ SỐ SUẤT CHIẾU], [MÃ SEAT_SHOWTIME], [TRẠNG THÁI]) VALUES (N'TK00002', N'RAP001', N'P01', N'S02', N'ST001', N'SS00002', N'ĐÃ HẾT HẠN')
INSERT [dbo].[TICKET_MOVIE] ([MÃ SẢN PHẨM], [MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ], [MÃ SỐ SUẤT CHIẾU], [MÃ SEAT_SHOWTIME], [TRẠNG THÁI]) VALUES (N'TK00003', N'RAP001', N'P01', N'S03', N'ST001', N'SS00003', N'ĐÃ SỬ DỤNG')
GO
INSERT [dbo].[TRANSACTION] ([MÃ THANH TOÁN], [PHƯƠNG THỨC], [SỐ TIỀN THỰC TẾ], [NGÀY TẠO], [TRẠNG THÁI], [MÃ ĐƠN HÀNG]) VALUES (N'T00001', N'MOMO', CAST(760000 AS Numeric(18, 0)), CAST(N'2026-03-01T10:00:00.000' AS DateTime), N'THÀNH CÔNG', N'O00001')
INSERT [dbo].[TRANSACTION] ([MÃ THANH TOÁN], [PHƯƠNG THỨC], [SỐ TIỀN THỰC TẾ], [NGÀY TẠO], [TRẠNG THÁI], [MÃ ĐƠN HÀNG]) VALUES (N'T00002', N'BANKING', CAST(545000 AS Numeric(18, 0)), CAST(N'2026-03-02T09:00:00.000' AS DateTime), N'THẤT BẠI', N'O00002')
INSERT [dbo].[TRANSACTION] ([MÃ THANH TOÁN], [PHƯƠNG THỨC], [SỐ TIỀN THỰC TẾ], [NGÀY TẠO], [TRẠNG THÁI], [MÃ ĐƠN HÀNG]) VALUES (N'T00003', N'BANKING', CAST(545000 AS Numeric(18, 0)), CAST(N'2026-03-02T09:05:00.000' AS DateTime), N'THÀNH CÔNG', N'O00002')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CUSTOMER]    Script Date: 05/04/2026 10:56:12 AM ******/
ALTER TABLE [dbo].[CUSTOMER] ADD  CONSTRAINT [IX_CUSTOMER] UNIQUE NONCLUSTERED 
(
	[SỐ ĐIỆN THOẠI] ASC,
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EMPLOYEE]    Script Date: 05/04/2026 10:56:12 AM ******/
ALTER TABLE [dbo].[EMPLOYEE] ADD  CONSTRAINT [IX_EMPLOYEE] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC,
	[CCCD] ASC,
	[SỐ ĐIỆN THOẠI] ASC,
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PROMOTION]    Script Date: 05/04/2026 10:56:12 AM ******/
ALTER TABLE [dbo].[PROMOTION] ADD  CONSTRAINT [IX_PROMOTION] UNIQUE NONCLUSTERED 
(
	[PROMOTION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMIN]  WITH NOCHECK ADD  CONSTRAINT [FK_ADMIN_ADMIN] FOREIGN KEY([MÃ SỐ NGƯỜI GIÁM SÁT])
REFERENCES [dbo].[ADMIN] ([MÃ SỐ NHÂN VIÊN])
GO
ALTER TABLE [dbo].[ADMIN] CHECK CONSTRAINT [FK_ADMIN_ADMIN]
GO
ALTER TABLE [dbo].[ADMIN]  WITH NOCHECK ADD  CONSTRAINT [FK_ADMIN_EMPLOYEE] FOREIGN KEY([MÃ SỐ NHÂN VIÊN])
REFERENCES [dbo].[EMPLOYEE] ([MÃ SỐ NHÂN VIÊN])
GO
ALTER TABLE [dbo].[ADMIN] CHECK CONSTRAINT [FK_ADMIN_EMPLOYEE]
GO
ALTER TABLE [dbo].[BẰNG CẤP]  WITH NOCHECK ADD  CONSTRAINT [FK_BẰNG CẤP_EMPLOYEE] FOREIGN KEY([MÃ SỐ NHÂN VIÊN])
REFERENCES [dbo].[EMPLOYEE] ([MÃ SỐ NHÂN VIÊN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BẰNG CẤP] CHECK CONSTRAINT [FK_BẰNG CẤP_EMPLOYEE]
GO
ALTER TABLE [dbo].[CINEMA]  WITH NOCHECK ADD  CONSTRAINT [FK_CINEMA_EMPLOYEE] FOREIGN KEY([MÃ SỐ NHÂN VIÊN])
REFERENCES [dbo].[EMPLOYEE] ([MÃ SỐ NHÂN VIÊN])
GO
ALTER TABLE [dbo].[CINEMA] CHECK CONSTRAINT [FK_CINEMA_EMPLOYEE]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [FK_CUSTOMER_MEMBERSHIP_LEVEL] FOREIGN KEY([MÃ HẠNG THÀNH VIÊN])
REFERENCES [dbo].[MEMBERSHIP_LEVEL] ([MÃ HẠNG THÀNH VIÊN])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_MEMBERSHIP_LEVEL]
GO
ALTER TABLE [dbo].[DIỄN VIÊN]  WITH NOCHECK ADD  CONSTRAINT [FK_DIỄN VIÊN_MOVIE] FOREIGN KEY([MÃ PHIM])
REFERENCES [dbo].[MOVIE] ([MÃ PHIM])
GO
ALTER TABLE [dbo].[DIỄN VIÊN] CHECK CONSTRAINT [FK_DIỄN VIÊN_MOVIE]
GO
ALTER TABLE [dbo].[FNB]  WITH NOCHECK ADD  CONSTRAINT [FK_FNB_PRODUCT] FOREIGN KEY([MÃ SẢN PHẨM])
REFERENCES [dbo].[PRODUCT] ([MÃ SẢN PHẨM])
GO
ALTER TABLE [dbo].[FNB] CHECK CONSTRAINT [FK_FNB_PRODUCT]
GO
ALTER TABLE [dbo].[HƯỞNG]  WITH NOCHECK ADD  CONSTRAINT [FK_HƯỞNG_MEMBERSHIP_LEVEL] FOREIGN KEY([MÃ HẠNG THÀNH VIÊN])
REFERENCES [dbo].[MEMBERSHIP_LEVEL] ([MÃ HẠNG THÀNH VIÊN])
GO
ALTER TABLE [dbo].[HƯỞNG] CHECK CONSTRAINT [FK_HƯỞNG_MEMBERSHIP_LEVEL]
GO
ALTER TABLE [dbo].[HƯỞNG]  WITH NOCHECK ADD  CONSTRAINT [FK_HƯỞNG_PROMOTION] FOREIGN KEY([MÃ KHUYẾN MÃI])
REFERENCES [dbo].[PROMOTION] ([MÃ KHUYẾN MÃI])
GO
ALTER TABLE [dbo].[HƯỞNG] CHECK CONSTRAINT [FK_HƯỞNG_PROMOTION]
GO
ALTER TABLE [dbo].[LỒNG TIẾNG]  WITH NOCHECK ADD  CONSTRAINT [FK_LỒNG TIẾNG_MOVIE] FOREIGN KEY([MÃ PHIM])
REFERENCES [dbo].[MOVIE] ([MÃ PHIM])
GO
ALTER TABLE [dbo].[LỒNG TIẾNG] CHECK CONSTRAINT [FK_LỒNG TIẾNG_MOVIE]
GO
ALTER TABLE [dbo].[ORDER]  WITH NOCHECK ADD  CONSTRAINT [FK_ORDER_CUSTOMER] FOREIGN KEY([MÃ SỐ KHÁCH HÀNG])
REFERENCES [dbo].[CUSTOMER] ([MÃ SỐ KHÁCH HÀNG])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_CUSTOMER]
GO
/*
HONG HỈU CHỖ NÀY, SAO CHO RÀNG BUỘC TỰ THAM CHIẾU?
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ORDER] FOREIGN KEY([MÃ ĐƠN HÀNG])
REFERENCES [dbo].[ORDER] ([MÃ ĐƠN HÀNG])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_ORDER]*/
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_PROMOTION] FOREIGN KEY([MÃ KHUYẾN MÃI])
REFERENCES [dbo].[PROMOTION] ([MÃ KHUYẾN MÃI])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_PROMOTION]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_ORDER_DETAIL_ORDER] FOREIGN KEY([MÃ ĐƠN HÀNG])
REFERENCES [dbo].[ORDER] ([MÃ ĐƠN HÀNG])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDER_DETAIL_ORDER]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_ORDER_DETAIL_PRODUCT] FOREIGN KEY([MÃ SẢN PHẨM])
REFERENCES [dbo].[PRODUCT] ([MÃ SẢN PHẨM])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDER_DETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[PHỤ ĐỀ]  WITH NOCHECK ADD  CONSTRAINT [FK_PHỤ ĐỀ_MOVIE] FOREIGN KEY([MÃ PHIM])
REFERENCES [dbo].[MOVIE] ([MÃ PHIM])
GO
ALTER TABLE [dbo].[PHỤ ĐỀ] CHECK CONSTRAINT [FK_PHỤ ĐỀ_MOVIE]
GO
ALTER TABLE [dbo].[PRICE]  WITH CHECK ADD  CONSTRAINT [FK_PRICE_ROOM_TYPE] FOREIGN KEY([LOẠI PHÒNG])
REFERENCES [dbo].[ROOM_TYPE] ([LOẠI PHÒNG])
GO
ALTER TABLE [dbo].[PRICE] CHECK CONSTRAINT [FK_PRICE_ROOM_TYPE]
GO
ALTER TABLE [dbo].[PRICE]  WITH CHECK ADD  CONSTRAINT [FK_PRICE_SEAT_TYPE] FOREIGN KEY([LOẠI GHẾ])
REFERENCES [dbo].[SEAT_TYPE] ([LOẠI GHẾ])
GO
ALTER TABLE [dbo].[PRICE] CHECK CONSTRAINT [FK_PRICE_SEAT_TYPE]
GO
ALTER TABLE [dbo].[RATING]  WITH NOCHECK ADD  CONSTRAINT [FK_RATING_CUSTOMER] FOREIGN KEY([MÃ SỐ KHÁCH HÀNG])
REFERENCES [dbo].[CUSTOMER] ([MÃ SỐ KHÁCH HÀNG])
GO
ALTER TABLE [dbo].[RATING] CHECK CONSTRAINT [FK_RATING_CUSTOMER]
GO
ALTER TABLE [dbo].[RATING]  WITH NOCHECK ADD  CONSTRAINT [FK_RATING_MOVIE] FOREIGN KEY([MÃ PHIM])
REFERENCES [dbo].[MOVIE] ([MÃ PHIM])
GO
ALTER TABLE [dbo].[RATING] CHECK CONSTRAINT [FK_RATING_MOVIE]
GO
ALTER TABLE [dbo].[ROOM]  WITH NOCHECK ADD  CONSTRAINT [FK_ROOM_CINEMA] FOREIGN KEY([MÃ SỐ RẠP])
REFERENCES [dbo].[CINEMA] ([MÃ SỐ RẠP])
GO
ALTER TABLE [dbo].[ROOM] CHECK CONSTRAINT [FK_ROOM_CINEMA]
GO
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD  CONSTRAINT [FK_ROOM_ROOM_TYPE] FOREIGN KEY([LOẠI PHÒNG])
REFERENCES [dbo].[ROOM_TYPE] ([LOẠI PHÒNG])
GO
ALTER TABLE [dbo].[ROOM] CHECK CONSTRAINT [FK_ROOM_ROOM_TYPE]
GO
ALTER TABLE [dbo].[SEAT]  WITH NOCHECK ADD  CONSTRAINT [FK_SEAT_ROOM] FOREIGN KEY([MÃ SỐ RẠP], [MÃ PHÒNG])
REFERENCES [dbo].[ROOM] ([MÃ SỐ RẠP], [MÃ PHÒNG])
GO
ALTER TABLE [dbo].[SEAT] CHECK CONSTRAINT [FK_SEAT_ROOM]
GO
ALTER TABLE [dbo].[SEAT]  WITH CHECK ADD  CONSTRAINT [FK_SEAT_SEAT_TYPE] FOREIGN KEY([LOẠI GHẾ])
REFERENCES [dbo].[SEAT_TYPE] ([LOẠI GHẾ])
GO
ALTER TABLE [dbo].[SEAT] CHECK CONSTRAINT [FK_SEAT_SEAT_TYPE]
GO
ALTER TABLE [dbo].[SEAT_SHOWTIME]  WITH NOCHECK ADD  CONSTRAINT [FK_SEAT_SHOWTIME_SEAT] FOREIGN KEY([MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ])
REFERENCES [dbo].[SEAT] ([MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ])
GO
ALTER TABLE [dbo].[SEAT_SHOWTIME] CHECK CONSTRAINT [FK_SEAT_SHOWTIME_SEAT]
GO
ALTER TABLE [dbo].[SEAT_SHOWTIME]  WITH NOCHECK ADD  CONSTRAINT [FK_SEAT_SHOWTIME_SHOWTIME] FOREIGN KEY([MÃ SỐ SUẤT CHIẾU])
REFERENCES [dbo].[SHOWTIME] ([MÃ SỐ SUẤT CHIẾU])
GO
ALTER TABLE [dbo].[SEAT_SHOWTIME] CHECK CONSTRAINT [FK_SEAT_SHOWTIME_SHOWTIME]
GO
ALTER TABLE [dbo].[SHOWTIME]  WITH NOCHECK ADD  CONSTRAINT [FK_SHOWTIME_MOVIE] FOREIGN KEY([MÃ PHIM])
REFERENCES [dbo].[MOVIE] ([MÃ PHIM])
GO
ALTER TABLE [dbo].[SHOWTIME] CHECK CONSTRAINT [FK_SHOWTIME_MOVIE]
GO
ALTER TABLE [dbo].[SHOWTIME]  WITH NOCHECK ADD  CONSTRAINT [FK_SHOWTIME_ROOM] FOREIGN KEY([MÃ SỐ RẠP], [MÃ PHÒNG])
REFERENCES [dbo].[ROOM] ([MÃ SỐ RẠP], [MÃ PHÒNG])
GO
ALTER TABLE [dbo].[SHOWTIME] CHECK CONSTRAINT [FK_SHOWTIME_ROOM]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_CINEMA] FOREIGN KEY([MÃ SỐ RẠP])
REFERENCES [dbo].[CINEMA] ([MÃ SỐ RẠP])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_CINEMA]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_EMPLOYEE] FOREIGN KEY([MÃ SỐ NHÂN VIÊN])
REFERENCES [dbo].[EMPLOYEE] ([MÃ SỐ NHÂN VIÊN])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_EMPLOYEE]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_STAFF1] FOREIGN KEY([MÃ SỐ NGƯỜI GIÁM SÁT])
REFERENCES [dbo].[STAFF] ([MÃ SỐ NHÂN VIÊN])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_STAFF1]
GO
ALTER TABLE [dbo].[THỂ LOẠI]  WITH NOCHECK ADD  CONSTRAINT [FK_THỂ LOẠI_MOVIE] FOREIGN KEY([MÃ PHIM])
REFERENCES [dbo].[MOVIE] ([MÃ PHIM])
GO
ALTER TABLE [dbo].[THỂ LOẠI] CHECK CONSTRAINT [FK_THỂ LOẠI_MOVIE]
GO
ALTER TABLE [dbo].[TICKET_MOVIE]  WITH NOCHECK ADD  CONSTRAINT [FK_TICKET_MOVIE_PRODUCT] FOREIGN KEY([MÃ SẢN PHẨM])
REFERENCES [dbo].[PRODUCT] ([MÃ SẢN PHẨM])
GO
ALTER TABLE [dbo].[TICKET_MOVIE] CHECK CONSTRAINT [FK_TICKET_MOVIE_PRODUCT]
GO
ALTER TABLE [dbo].[TICKET_MOVIE]  WITH NOCHECK ADD  CONSTRAINT [FK_TICKET_MOVIE_SEAT_SHOWTIME] FOREIGN KEY([MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ], [MÃ SỐ SUẤT CHIẾU], [MÃ SEAT_SHOWTIME])
REFERENCES [dbo].[SEAT_SHOWTIME] ([MÃ SỐ RẠP], [MÃ PHÒNG], [MÃ SỐ GHẾ], [MÃ SỐ SUẤT CHIẾU], [MÃ SEAT_SHOWTIME])
GO
ALTER TABLE [dbo].[TICKET_MOVIE] CHECK CONSTRAINT [FK_TICKET_MOVIE_SEAT_SHOWTIME]
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH NOCHECK ADD  CONSTRAINT [FK_TRANSACTION_ORDER] FOREIGN KEY([MÃ ĐƠN HÀNG])
REFERENCES [dbo].[ORDER] ([MÃ ĐƠN HÀNG])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRANSACTION] CHECK CONSTRAINT [FK_TRANSACTION_ORDER]
GO
ALTER TABLE [dbo].[CINEMA]  WITH NOCHECK ADD  CONSTRAINT [CK_CINEMA] CHECK  (([TRẠNG THÁI]=N'ĐÓNG' OR [TRẠNG THÁI]=N'BẢO TRÌ' OR [TRẠNG THÁI]=N'HOẠT ĐỘNG'))
GO
ALTER TABLE [dbo].[CINEMA] CHECK CONSTRAINT [CK_CINEMA]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [CK_CUSTOMER] CHECK  (([GIỚI TÍNH]=N'Nữ' OR [GIỚI TÍNH]='Nam'))
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [CK_CUSTOMER]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [CK_CUSTOMER_1] CHECK  (([SỐ ĐIỆN THOẠI] like '0[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [CK_CUSTOMER_1]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [CK_CUSTOMER_2] CHECK  (([PASSWORD] like '%[A-Z]%' AND [PASSWORD] like '%[a-z]%' AND [PASSWORD] like '%[0-9]%' AND len([PASSWORD])>=(8)))
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [CK_CUSTOMER_2]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [CK_CUSTOMER_3] CHECK  (([EMAIL] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [CK_CUSTOMER_3]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [CK_CUSTOMER_4] CHECK  (([NGÀY SINH]<=dateadd(year,(-13),getdate())))
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [CK_CUSTOMER_4]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH NOCHECK ADD  CONSTRAINT [CK_EMPLOYEE] CHECK  (([EMAIL] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [CK_EMPLOYEE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH NOCHECK ADD  CONSTRAINT [CK_EMPLOYEE_1] CHECK  (([GIỚI TÍNH]=N'Nữ' OR [GIỚI TÍNH]='Nam'))
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [CK_EMPLOYEE_1]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH NOCHECK ADD  CONSTRAINT [CK_EMPLOYEE_2] CHECK  (([SỐ ĐIỆN THOẠI] like '0[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [CK_EMPLOYEE_2]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH NOCHECK ADD  CONSTRAINT [CK_EMPLOYEE_3] CHECK  (([PASSWORD] like '%[A-Z]%' AND [PASSWORD] like '%[a-z]%' AND [PASSWORD] like '%[0-9]%' AND len([PASSWORD])>=(8)))
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [CK_EMPLOYEE_3]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH NOCHECK ADD  CONSTRAINT [CK_EMPLOYEE_4] CHECK  (([TRẠNG THÁI]=N'LÀM VIỆC LẠI' OR [TRẠNG THÁI]=N'ĐÃ NGHỈ' OR [TRẠNG THÁI]=N'ĐANG LÀM'))
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [CK_EMPLOYEE_4]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH NOCHECK ADD  CONSTRAINT [CK_EMPLOYEE_5] CHECK  (([LOẠI NHÂN VIÊN]=N'NHÂN VIÊN THỜI VỤ' OR [LOẠI NHÂN VIÊN]=N'NHÂN VIÊN CHÍNH THỨC'))
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [CK_EMPLOYEE_5]
GO
ALTER TABLE [dbo].[FNB]  WITH NOCHECK ADD  CONSTRAINT [CK_FNB] CHECK  (([GIÁ CẢ]>=(0)))
GO
ALTER TABLE [dbo].[FNB] CHECK CONSTRAINT [CK_FNB]
GO
ALTER TABLE [dbo].[FNB]  WITH NOCHECK ADD  CONSTRAINT [CK_FNB_1] CHECK  (([KÍCH THƯỚC]='S' OR [KÍCH THƯỚC]='M' OR [KÍCH THƯỚC]='L'))
GO
ALTER TABLE [dbo].[FNB] CHECK CONSTRAINT [CK_FNB_1]
GO
ALTER TABLE [dbo].[FNB]  WITH NOCHECK ADD  CONSTRAINT [CK_FNB_2] CHECK  (([TRẠNG THÁI]=N'NGỪNG BÁN' OR [TRẠNG THÁI]=N'ĐANG BÁN'))
GO
ALTER TABLE [dbo].[FNB] CHECK CONSTRAINT [CK_FNB_2]
GO
ALTER TABLE [dbo].[MEMBERSHIP_LEVEL]  WITH NOCHECK ADD  CONSTRAINT [CK_MEMBERSHIP_LEVEL] CHECK  (([TÊN HẠNG]=N'VVIP' OR [TÊN HẠNG]=N'VIP' OR [TÊN HẠNG]=N'MEMBER'))
GO
ALTER TABLE [dbo].[MEMBERSHIP_LEVEL] CHECK CONSTRAINT [CK_MEMBERSHIP_LEVEL]
GO
ALTER TABLE [dbo].[MOVIE]  WITH NOCHECK ADD  CONSTRAINT [CK_MOVIE] CHECK  (([GIỚI HẠN ĐỘ TUỔI]='T18' OR [GIỚI HẠN ĐỘ TUỔI]='T16' OR [GIỚI HẠN ĐỘ TUỔI]='T13' OR [GIỚI HẠN ĐỘ TUỔI]='K' OR [GIỚI HẠN ĐỘ TUỔI]='P'))
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [CK_MOVIE]
GO
ALTER TABLE [dbo].[ORDER]  WITH NOCHECK ADD  CONSTRAINT [CK_ORDER] CHECK  (([TỔNG TIỀN]>=(0)))
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [CK_ORDER]
GO
ALTER TABLE [dbo].[ORDER]  WITH NOCHECK ADD  CONSTRAINT [CK_ORDER_1] CHECK  (([SỐ TIỀN GIẢM]>=(0)))
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [CK_ORDER_1]
GO
ALTER TABLE [dbo].[ORDER]  WITH NOCHECK ADD  CONSTRAINT [CK_ORDER_2] CHECK  (([TRẠNG THÁI]=N'ĐÃ THANH TOÁN' OR [TRẠNG THÁI]=N'ĐÃ HỦY' OR [TRẠNG THÁI]=N'ĐANG CHỜ'))
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [CK_ORDER_2]
GO
ALTER TABLE [dbo].[PROMOTION]  WITH NOCHECK ADD  CONSTRAINT [CK_PROMOTION] CHECK  (([TRẠNG THÁI]=N'HẾT HẠN' OR [TRẠNG THÁI]=N'TẠM DỪNG' OR [TRẠNG THÁI]=N'HOẠT ĐỘNG' OR [TRẠNG THÁI]=N'NHÁP'))
GO
ALTER TABLE [dbo].[PROMOTION] CHECK CONSTRAINT [CK_PROMOTION]
GO
ALTER TABLE [dbo].[PROMOTION]  WITH NOCHECK ADD  CONSTRAINT [CK_PROMOTION_1] CHECK  (([LOẠI KHUYẾN MÃI]=N'GIÁ TRỊ' OR [LOẠI KHUYẾN MÃI]=N'PHẦN TRĂM'))
GO
ALTER TABLE [dbo].[PROMOTION] CHECK CONSTRAINT [CK_PROMOTION_1]
GO
ALTER TABLE [dbo].[RATING]  WITH NOCHECK ADD  CONSTRAINT [CK_RATING] CHECK  (([ĐIỂM RATING]>=(1) AND [ĐIỂM RATING]<=(5)))
GO
ALTER TABLE [dbo].[RATING] CHECK CONSTRAINT [CK_RATING]
GO
ALTER TABLE [dbo].[ROOM]  WITH NOCHECK ADD  CONSTRAINT [CK_ROOM_1] CHECK  (([TRẠNG THÁI]=N'ĐÓNG' OR [TRẠNG THÁI]=N'BẢO TRÌ' OR [TRẠNG THÁI]=N'HOẠT ĐỘNG'))
GO
ALTER TABLE [dbo].[ROOM] CHECK CONSTRAINT [CK_ROOM_1]
GO
ALTER TABLE [dbo].[SEAT_SHOWTIME]  WITH NOCHECK ADD  CONSTRAINT [CK_SEAT_SHOWTIME] CHECK  (([TRẠNG THÁI GHẾ]=N'KHÔNG THỂ CHỌN' OR [TRẠNG THÁI GHẾ]=N'ĐÃ CHỌN' OR [TRẠNG THÁI GHẾ]=N'CHƯA CHỌN'))
GO
ALTER TABLE [dbo].[SEAT_SHOWTIME] CHECK CONSTRAINT [CK_SEAT_SHOWTIME]
GO
ALTER TABLE [dbo].[SHOWTIME]  WITH NOCHECK ADD  CONSTRAINT [CK_SHOWTIME] CHECK  (([GIỜ BẮT ĐẦU]<[GIỜ KẾT THÚC] AND [NGÀY CHIẾU]>[NGÀY TẠO]))
GO
ALTER TABLE [dbo].[SHOWTIME] CHECK CONSTRAINT [CK_SHOWTIME]
GO
ALTER TABLE [dbo].[SHOWTIME]  WITH NOCHECK ADD  CONSTRAINT [CK_SHOWTIME_1] CHECK  (([TRẠNG THÁI]=N'NHÁP' OR [TRẠNG THÁI]=N'KẾT THÚC' OR [TRẠNG THÁI]=N'HOẠT ĐỘNG'))
GO
ALTER TABLE [dbo].[SHOWTIME] CHECK CONSTRAINT [CK_SHOWTIME_1]
GO
ALTER TABLE [dbo].[TICKET_MOVIE]  WITH CHECK ADD  CONSTRAINT [CK_TICKET_MOVIE] CHECK  (([TRẠNG THÁI]=N'ĐÃ HẾT HẠN' OR [TRẠNG THÁI]=N'ĐÃ HỦY' OR [TRẠNG THÁI]=N'ĐÃ SỬ DỤNG' OR [TRẠNG THÁI]=N'ĐÃ THANH TOÁN'))
GO
ALTER TABLE [dbo].[TICKET_MOVIE] CHECK CONSTRAINT [CK_TICKET_MOVIE]
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH NOCHECK ADD  CONSTRAINT [CK_TRANSACTION] CHECK  (([SỐ TIỀN THỰC TẾ]>=(0)))
GO
ALTER TABLE [dbo].[TRANSACTION] CHECK CONSTRAINT [CK_TRANSACTION]
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH NOCHECK ADD  CONSTRAINT [CK_TRANSACTION_1] CHECK  (([TRẠNG THÁI]=N'THẤT BẠI' OR [TRẠNG THÁI]=N'THÀNH CÔNG' OR [TRẠNG THÁI]=N'ĐANG CHỜ'))
GO
ALTER TABLE [dbo].[TRANSACTION] CHECK CONSTRAINT [CK_TRANSACTION_1]
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH NOCHECK ADD  CONSTRAINT [CK_TRANSACTION_2] CHECK  (([PHƯƠNG THỨC]=N'CREDIT_CARD' OR [PHƯƠNG THỨC]=N'BANKING' OR [PHƯƠNG THỨC]=N'MOMO'))
GO
ALTER TABLE [dbo].[TRANSACTION] CHECK CONSTRAINT [CK_TRANSACTION_2]
GO
--USE [master]
--GO
ALTER DATABASE [CineB] SET  READ_WRITE 
GO