/****** Object:  Trigger [dbo].[trg_UpdateMembership]    Script Date: 26/04/2026 9:23:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateMembership]
ON [dbo].[CUSTOMER]
AFTER INSERT, UPDATE
AS
BEGIN
    -- Cập nhật HẠNG THÀNH VIÊN dựa trên ĐIỂM TÍCH LŨY
    UPDATE c
    SET [MÃ HẠNG THÀNH VIÊN] =
        CASE
            WHEN i.[ĐIỂM TÍCH LŨY] >= 50000 THEN N'ML3'
            WHEN i.[ĐIỂM TÍCH LŨY] >= 20000 THEN N'ML2'
            ELSE N'ML1'
        END
    FROM CUSTOMER c
    INNER JOIN inserted i ON c.[MÃ SỐ KHÁCH HÀNG] = i.[MÃ SỐ KHÁCH HÀNG];
END;
GO
ALTER TABLE [dbo].[CUSTOMER] ENABLE TRIGGER [trg_UpdateMembership]
GO
/****** Object:  Trigger [dbo].[trg_TinhSoTienGiam]    Script Date: 26/04/2026 9:23:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TinhSoTienGiam]
ON [dbo].[ORDER]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE O
    SET O.[SỐ TIỀN GIẢM] = 
        CASE 
            -- Khuyến mãi theo phần trăm
            WHEN P.[LOẠI KHUYẾN MÃI] = N'PHẦN TRĂM'
            THEN 
                CASE 
                    WHEN O.[TỔNG TIỀN] * P.[PHẦN TRĂM GIẢM]/100 > P.[GIÁ TRỊ GIẢM TỐI ĐA]
                    THEN P.[GIÁ TRỊ GIẢM TỐI ĐA]
                    ELSE ROUND(O.[TỔNG TIỀN] * P.[PHẦN TRĂM GIẢM]/100, 2)
                END
            -- Khuyến mãi theo giá trị cố định
            WHEN P.[LOẠI KHUYẾN MÃI] = N'GIÁ TRỊ'
            THEN P.[GIÁ TRỊ GIẢM TỐI ĐA]
            ELSE 0
        END
    FROM [ORDER] O
    LEFT JOIN PROMOTION P ON O.[MÃ KHUYẾN MÃI] = P.[MÃ KHUYẾN MÃI] AND P.[TRẠNG THÁI] = N'HOẠT ĐỘNG'
    WHERE O.[MÃ ĐƠN HÀNG] IN (
        SELECT DISTINCT [MÃ ĐƠN HÀNG] FROM inserted
    );
END;
GO
ALTER TABLE [dbo].[ORDER] ENABLE TRIGGER [trg_TinhSoTienGiam]
GO
/****** Object:  Trigger [dbo].[TRG_CheckAgeBooking]    Script Date: 26/04/2026 9:23:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CheckAgeBooking]
ON [dbo].[ORDER_DETAIL]
FOR INSERT
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM INSERTED od
        JOIN [ORDER] o ON od.[MÃ ĐƠN HÀNG] = o.[MÃ ĐƠN HÀNG]
        JOIN [PRODUCT] p ON od.[MÃ SẢN PHẨM] = p.[MÃ SẢN PHẨM]
        JOIN TICKET_MOVIE tm ON p.[MÃ SẢN PHẨM] = tm.[MÃ SẢN PHẨM]
        JOIN SEAT_SHOWTIME ss ON tm.[MÃ SEAT_SHOWTIME] = ss.[MÃ SEAT_SHOWTIME]
        JOIN SHOWTIME st ON ss.[MÃ SỐ SUẤT CHIẾU] = st.[MÃ SỐ SUẤT CHIẾU]
        JOIN MOVIE m ON st.[MÃ PHIM] = m.[MÃ PHIM]
        JOIN CUSTOMER c ON o.[MÃ SỐ KHÁCH HÀNG] = c.[MÃ SỐ KHÁCH HÀNG]
        WHERE 
        (
            (m.[GIỚI HẠN ĐỘ TUỔI] = 'T13' AND c.[NGÀY SINH] > DATEADD(YEAR, -13, GETDATE())) OR
            (m.[GIỚI HẠN ĐỘ TUỔI] = 'T16' AND c.[NGÀY SINH] > DATEADD(YEAR, -16, GETDATE())) OR
            (m.[GIỚI HẠN ĐỘ TUỔI] = 'T18' AND c.[NGÀY SINH] > DATEADD(YEAR, -18, GETDATE()))
        )
    )
    BEGIN
        RAISERROR(N'KHÁCH HÀNG KHÔNG ĐỦ TUỔI ĐỂ ĐẶT VÉ CHO PHIM NÀY!', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;
GO
ALTER TABLE [dbo].[ORDER_DETAIL] ENABLE TRIGGER [TRG_CheckAgeBooking]
GO
/****** Object:  Trigger [dbo].[trg_TinhTongTienOrder]    Script Date: 26/04/2026 9:23:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TinhTongTienOrder]
ON [dbo].[ORDER_DETAIL]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE O
    SET O.[TỔNG TIỀN] = ISNULL(Sub.TongTien, 0)
    FROM [ORDER] O
    INNER JOIN (
        SELECT 
            OD.[MÃ ĐƠN HÀNG],
            SUM(
                CASE 
                    WHEN OD.[MÃ SẢN PHẨM] LIKE 'TK%' THEN PR.[GIÁ VÉ]
                    WHEN OD.[MÃ SẢN PHẨM] LIKE 'F%' THEN FNB.[GIÁ CẢ]
                    ELSE 0
                END * OD.[SỐ LƯỢNG SẢN PHẨM]
            ) AS TongTien
        FROM ORDER_DETAIL OD
        LEFT JOIN TICKET_MOVIE TM ON OD.[MÃ SẢN PHẨM] = TM.[MÃ SẢN PHẨM]
        LEFT JOIN SEAT_SHOWTIME SS ON TM.[MÃ SEAT_SHOWTIME] = SS.[MÃ SEAT_SHOWTIME]
        LEFT JOIN SEAT S ON SS.[MÃ SỐ GHẾ] = S.[MÃ SỐ GHẾ] 
                         AND SS.[MÃ PHÒNG] = S.[MÃ PHÒNG] 
                         AND SS.[MÃ SỐ RẠP] = S.[MÃ SỐ RẠP]
        LEFT JOIN ROOM R ON SS.[MÃ PHÒNG] = R.[MÃ PHÒNG] 
                        AND SS.[MÃ SỐ RẠP] = R.[MÃ SỐ RẠP]
        LEFT JOIN PRICE PR ON PR.[LOẠI GHẾ] = S.[LOẠI GHẾ] 
                           AND PR.[LOẠI PHÒNG] = R.[LOẠI PHÒNG]
        LEFT JOIN FNB ON OD.[MÃ SẢN PHẨM] = FNB.[MÃ SẢN PHẨM]
        GROUP BY OD.[MÃ ĐƠN HÀNG]
    ) Sub ON O.[MÃ ĐƠN HÀNG] = Sub.[MÃ ĐƠN HÀNG]
    WHERE O.[MÃ ĐƠN HÀNG] IN (
        SELECT DISTINCT [MÃ ĐƠN HÀNG] FROM inserted
		UNION
		SELECT [MÃ ĐƠN HÀNG] FROM deleted
    );
END;
GO
ALTER TABLE [dbo].[ORDER_DETAIL] ENABLE TRIGGER [trg_TinhTongTienOrder]
GO
/****** Object:  Trigger [dbo].[TRG_CHECK_LOAI_GHE]    Script Date: 26/04/2026 9:23:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CHECK_LOAI_GHE]
ON [dbo].[SEAT]
FOR INSERT, UPDATE
AS
BEGIN
    IF EXISTS (
        SELECT *
        FROM inserted i
        JOIN ROOM r
            ON i.[MÃ SỐ RẠP] = r.[MÃ SỐ RẠP]
           AND i.[MÃ PHÒNG] = r.[MÃ PHÒNG]
        WHERE
        (
            i.[LOẠI GHẾ] NOT IN (
                N'STANDARD',
                N'VIP', 
                N'SWEETBOX', 
                N'IMAX', 
                N'4DX', 
                N'PREMIUM'
            )
        )
        OR
        (
            r.[LOẠI PHÒNG] IN ('STANDARD','SCREENX')
            AND i.[LOẠI GHẾ] NOT IN (N'STANDARD', N'VIP', N'SWEETBOX')
        )
        OR
        (
            r.[LOẠI PHÒNG] = 'IMAX'
            AND i.[LOẠI GHẾ] <> N'IMAX'
        )
        OR
        (
            r.[LOẠI PHÒNG] = '4DX'
            AND i.[LOẠI GHẾ] <> N'4DX'
        )
        OR
        (
            r.[LOẠI PHÒNG] = 'SWEETBOX'
            AND i.[LOẠI GHẾ] <> N'SWEETBOX'
        )
        OR
        (
            r.[LOẠI PHÒNG] = 'PREMIUM'
            AND i.[LOẠI GHẾ] <> N'PREMIUM'
        )
    )
    BEGIN
        RAISERROR (N'LOẠI GHẾ KHÔNG PHÙ HỢP VỚI LOẠI PHÒNG',16,1)
        ROLLBACK TRANSACTION
    END
END;
GO
ALTER TABLE [dbo].[SEAT] ENABLE TRIGGER [TRG_CHECK_LOAI_GHE]
GO
/****** Object:  Trigger [dbo].[TRG_CHECK_SHOWTIME_ROOM]    Script Date: 26/04/2026 9:23:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CHECK_SHOWTIME_ROOM]
ON [dbo].[SHOWTIME]
FOR INSERT, UPDATE
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM INSERTED I
        JOIN ROOM R 
        ON I.[MÃ SỐ RẠP] = R.[MÃ SỐ RẠP]
        AND I.[MÃ PHÒNG] = R.[MÃ PHÒNG]
        WHERE R.[TRẠNG THÁI] <> N'HOẠT ĐỘNG'
    )
    BEGIN
        RAISERROR (N'Phòng không hoạt động không được tạo suất chiếu',16,1)
        ROLLBACK TRANSACTION
    END
END
GO
ALTER TABLE [dbo].[SHOWTIME] ENABLE TRIGGER [TRG_CHECK_SHOWTIME_ROOM]
GO
/****** Object:  Trigger [dbo].[TRG_CHECK_SHOWTIME_TIME]    Script Date: 26/04/2026 9:23:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CHECK_SHOWTIME_TIME]
ON [dbo].[SHOWTIME]
FOR INSERT, UPDATE
AS
BEGIN
    -- Kiểm tra trùng giờ hoặc không đủ 20 phút
    IF EXISTS (
        SELECT 1
        FROM INSERTED I
        JOIN SHOWTIME S
        ON I.[MÃ SỐ RẠP] = S.[MÃ SỐ RẠP]
        AND I.[MÃ PHÒNG] = S.[MÃ PHÒNG]
        AND I.[MÃ SỐ SUẤT CHIẾU] <> S.[MÃ SỐ SUẤT CHIẾU]
        AND I.[NGÀY CHIẾU] = S.[NGÀY CHIẾU]
        WHERE
        (
            I.[GIỜ BẮT ĐẦU] < S.[GIỜ KẾT THÚC]
            AND I.[GIỜ KẾT THÚC] > S.[GIỜ BẮT ĐẦU]
        )
        OR
        (
            ABS(DATEDIFF(MINUTE, S.[GIỜ KẾT THÚC], I.[GIỜ BẮT ĐẦU])) < 20
            OR
            ABS(DATEDIFF(MINUTE, I.[GIỜ KẾT THÚC], S.[GIỜ BẮT ĐẦU])) < 20
        )
    )
    BEGIN
        RAISERROR (N'Vi phạm lịch chiếu: trùng giờ hoặc không đủ 20 phút nghỉ',16,1)
        ROLLBACK TRANSACTION
    END
END
GO
ALTER TABLE [dbo].[SHOWTIME] ENABLE TRIGGER [TRG_CHECK_SHOWTIME_TIME]
GO
/****** Object:  Trigger [dbo].[TRG_TINHGIOKETTHUC]    Script Date: 26/04/2026 9:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_TINHGIOKETTHUC]
ON [dbo].[SHOWTIME]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE s
    SET [GIỜ KẾT THÚC] = CAST(
        DATEADD(
            MINUTE,
            15 + DATEDIFF(MINUTE, 0, m.[THỜI LƯỢNG]),
            CAST(s.[GIỜ BẮT ĐẦU] AS DATETIME)
        )
    AS TIME(7))
    FROM SHOWTIME s
    JOIN inserted i ON s.[MÃ SỐ SUẤT CHIẾU] = i.[MÃ SỐ SUẤT CHIẾU]
    JOIN MOVIE m ON s.[MÃ PHIM] = m.[MÃ PHIM];
END;
GO
ALTER TABLE [dbo].[SHOWTIME] ENABLE TRIGGER [TRG_TINHGIOKETTHUC]
GO
/****** Object:  Trigger [dbo].[trg_CongDiemThanhToan]    Script Date: 26/04/2026 9:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CongDiemThanhToan]
ON [dbo].[TRANSACTION]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE C
    SET C.[ĐIỂM TÍCH LŨY] = C.[ĐIỂM TÍCH LŨY] 
        + ROUND(O.[SỐ TIỀN CUỐI] * 0.01, 0)
    FROM inserted I
    JOIN [ORDER] O 
        ON I.[MÃ ĐƠN HÀNG] = O.[MÃ ĐƠN HÀNG]
    JOIN CUSTOMER C 
        ON O.[MÃ SỐ KHÁCH HÀNG] = C.[MÃ SỐ KHÁCH HÀNG]
    LEFT JOIN deleted D 
        ON I.[MÃ THANH TOÁN] = D.[MÃ THANH TOÁN]
    WHERE 
        I.[TRẠNG THÁI] = N'THÀNH CÔNG'
        AND (D.[TRẠNG THÁI] IS NULL OR D.[TRẠNG THÁI] <> N'THÀNH CÔNG');
END;
GO
ALTER TABLE [dbo].[TRANSACTION] ENABLE TRIGGER [trg_CongDiemThanhToan]
GO
/****** Object:  Trigger [dbo].[trg_HandleTransaction]    Script Date: 26/04/2026 9:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_HandleTransaction]
ON [dbo].[TRANSACTION]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật số tiền
    UPDATE T
    SET T.[SỐ TIỀN THỰC TẾ] = O.[SỐ TIỀN CUỐI]
    FROM [TRANSACTION] T
    JOIN inserted I ON T.[MÃ THANH TOÁN] = I.[MÃ THANH TOÁN]
    JOIN [ORDER] O ON I.[MÃ ĐƠN HÀNG] = O.[MÃ ĐƠN HÀNG];

    -- Update trạng thái ORDER nếu tồn tại transaction thành công
    UPDATE O
    SET O.[TRẠNG THÁI] = N'ĐÃ THANH TOÁN'
    FROM [ORDER] O
    WHERE EXISTS (
        SELECT 1
        FROM [TRANSACTION] T
        WHERE T.[MÃ ĐƠN HÀNG] = O.[MÃ ĐƠN HÀNG]
        AND T.[TRẠNG THÁI] = N'THÀNH CÔNG'
    );
END;
GO
ALTER TABLE [dbo].[TRANSACTION] ENABLE TRIGGER [trg_HandleTransaction]
GO
USE [master]
GO
